@font-face
{
  font-family: "DINWeb";
  src: url("../fonts/DINWebPro-Regular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face
{
  font-family: "DINWeb";
  src: url("../fonts/DINWebPro-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}
