/* Animations */

@keyframes letters
{
  0%
  {
    opacity: 0.35;
  }

  30%
  {
    opacity: 0.8;
  }

  40%
  {
    opacity: 0.45;
  }

  100%
  {
    opacity: 0.21;
  }
}

/* General */

html, body
{
  width: 100%;
  height: 100%;
}

body
{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #171d25;
}

.page
{
  width: 1200px;
  display: flex;
  align-items: center;
}

/* Menu */

.menu
{
  width: 25%;
}

/* Logo */

.logo
{
  font-size: 0px;
  padding-bottom: 40px;
}

.logo span
{
  font-family: DINWeb;
  font-size: 18px;
  letter-spacing: 0.5em;
  color: #fff;
  opacity: 0.35;
  animation-name: letters;
  animation-iteration-count: infinite;
  animation-duration: 3.2s;
  animation-timing-function: ease;
  animation-fill-mode: none;
}

.logo span:nth-child(1)
{
  animation-delay: 0ms;
}

.logo span:nth-child(2)
{
  animation-delay: 100ms;
}

.logo span:nth-child(3)
{
  animation-delay: 200ms;
}

.logo span:nth-child(4)
{
  animation-delay: 300ms;
}

.logo span:nth-child(5)
{
  animation-delay: 400ms;
}

.logo span:nth-child(6)
{
  animation-delay: 500ms;
}

.logo span:nth-child(7)
{
  animation-delay: 600ms;
}

.logo span:nth-child(8)
{
  animation: none;
}

.logo span:nth-child(9)
{
  animation-delay: 700ms;
}

.logo span:nth-child(10)
{
  animation-delay: 800ms;
}

.logo span:nth-child(11)
{
  animation-delay: 900ms;
}

.logo span:nth-child(12)
{
  animation-delay: 1000ms;
}

.logo span:nth-child(13)
{
  animation-delay: 1100ms;
}

/* Nav */

.nav
{
  position: relative;
}

.indicator
{
  width: 6px;
  height: 80px;
  position: absolute;
  top: 10px;
  left: -32px;
  background: #00aeef;
  transition: all 300ms cubic-bezier(0.145,1.075,0.345,1.12) 60ms;
}

.nav li
{
  padding: 25px 0;
  margin-bottom: 30px;
  cursor: pointer;
}

.nav li:last-child
{
  padding: 25px 0;
  margin-bottom: 0px;
}

.nav a
{
  display: block;
}

.nav li a div:nth-child(1)
{
  font: 24px/32px DINWeb;
  color: #fff;
}

.nav li a div:nth-child(2)
{
  font: 16px/18px DINWeb;
  color: rgba(152,175,197,0.7);
}

/* Wheel */

.wheel
{
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wheel > div
{
  position: relative;
  width: 440px;
  height: 440px;
}

@keyframes spin-clock
{
  from
  {
    transform: rotate(0deg);
  }

  to
  {
    transform: rotate(360deg);
  }

}

@keyframes spin-counter-clock
{
  from
  {
    transform: rotate(360deg);
  }

  to
  {
    transform: rotate(0deg);
  }

}

circle
{
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: center;
}

.spin-1
{
  animation-name: spin-clock;
  animation-duration: 70s;
}

.spin-2
{
  animation-name: spin-clock;
  animation-duration: 190s;
}

.spin-3
{
  animation-name: spin-counter-clock;
  animation-duration: 70s;
}

/* Text circles */

.circles
{
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 50%;
  right: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 500ms ease-in-out 200ms;
}

.circle
{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background: #2a3340;
  border: 10px solid #171d25;
  border-radius: 50%;
  transition: all 130ms ease-out;
  transform-origin: center;
}

.circle span
{
  max-width: 60px;
  font: 500 12px/16px DINWeb;
  color: #677a95;
  text-align: center;
  text-transform: uppercase;
}

.circle:nth-child(1)
{
  transform: rotate(0deg) translateY(-185px);
}

.circle:nth-child(2)
{
  transform: rotate(120deg) translateY(-185px);
}

.circle:nth-child(3)
{
  transform: rotate(240deg) translateY(-185px);
}

.circle.active
{
  width: 180px;
  height: 180px;
  background: #14bfff;
}

.circle.active span
{
  max-width: 160px;
  color: #fff;
  font: 16px/18px DINWeb;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
}

/* Texts */

.texts
{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text
{
  position: absolute;
  transform: scale(0.95) translateY(-10px);
  transition: all /*320*/600ms ease-out;
  transition-delay: 600ms;
  opacity: 0;
  text-align: center;
}

.text.active
{
  position: static;
  transform: none;
  opacity: 1;
}

.text h1
{
  color: #fff;
  font: 20px/24px DINWeb;
  margin-bottom: 8px;
}

.text p
{
  width: 200px;
  color: #aaa;
  font: 13px/18px DejaVu Sans;
}

.text a
{
  display: inline-block;
  padding: 1px 6px 0 6px;
  margin: 16px auto 0 auto;
  border-radius: 3px;
  background: #00bff3;
  cursor: pointer;
  font: 12px/18px DINWeb;
  color: #111;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 240ms ease;
}

.text a:hover
{
  background: #8de7ff;
}

















































/**/
