html, body
{
  height: 100%;
  background: #000;
  font-family: Montserrat;
  color: #fff;
}

/* Menu */

.menu
{
  border-left: 2px solid #1e1f1f;
}

.item-title
{
  padding-left: 12px;
  position: relative;
  color: #636363;
}

.item-title.active
{
  color: #fff;
}

.item-title.active::before
{
  background: #0f33ff;
}

.item-title::before
{
  display: block;
  content: ' ';
  position: absolute;
  top: calc(50% - 1.5px);
  left: -3px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #fff;
}

.item-spacer
{
  width: 4px;
  height: 4px;
  transform: translateX(-3px);
  border-radius: 50%;
  background: #636363;
}

.name
{
  font-family: Nunito;
  font-weight: 800;
  text-transform: uppercase;
}

h1
{
  text-transform: uppercase;
  font-size: 82px;
  font-weight: 800;
}

h2
{
  text-transform: uppercase;
  font-size: 72px;
  font-weight: 800;
}

.btn-primary
{
  font-weight: 700;
  font-size: 14px;
  background: #0f33ff;
  border: 0;
  border-radius: 0;
  padding: 8px 16px;
}

.card
{
  background-color: transparent;
  border: 0;
  border-radius: 0;
  padding-bottom: 32px;
  opacity: 0.2;
  cursor: pointer;
  transition: 0.2s;
}

.indicator
{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 4px;
  background: #0f33ff;
}

.card.active
{
  opacity: 1;
}

.card.active .indicator
{
  display: block;
}

.card-body
{
  padding: 0;
  margin-top: 32px;
}

.card-title
{
  margin-bottom: 32px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.card-text
{
  font-size: 16px;
  font-weight: 400;
}

.border-secondary
{
  border-color: #282828 !important;
}
